<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <title>Add Nhan Vien</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container mt-5">
    <h1>Thêm Nhân Viên</h1>
    <form th:action="@{/Nhan_Vien/add}" th:object="${NhanVien}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="Ma_NV">Mã Nhân Viên:</label>
            <input class="form-control" type="text" id="Ma_NV" th:field="*{Ma_NV}" placeholder="Nhập mã nhân viên" />
            <span class="text-danger" th:if="${#fields.hasErrors('Ma_NV')}" th:errors="*{Ma_NV}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="Ten_NV">Tên Nhân Viên:</label>
            <input class="form-control" type="text" id="Ten_NV" th:field="*{Ten_NV}" placeholder="Nhập tên nhân viên" />
            <span class="text-danger" th:if="${#fields.hasErrors('Ten_NV')}" th:errors="*{Ten_NV}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="Phai">Phái:</label>
            <input class="form-control" type="text" id="Phai" th:field="*{Phai}" placeholder="Nhập giới tính" />
            <span class="text-danger" th:if="${#fields.hasErrors('Phai')}" th:errors="*{Phai}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="Noi_Sinh">Nơi Sinh:</label>
            <input class="form-control" type="text" id="Noi_Sinh" th:field="*{Noi_Sinh}" placeholder="Nhập nơi sinh" />
            <span class="text-danger" th:if="${#fields.hasErrors('Noi_Sinh')}" th:errors="*{Noi_Sinh}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="Luong">Lương:</label>
            <input class="form-control" type="number" id="Luong" th:field="*{Luong}" placeholder="Nhập lương" />
            <p class="text-danger" th:if="${#fields.hasErrors('Luong')}" th:errors="*{Luong}">Mã lỗi</p>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="PhongBan_id">Phòng Ban:</label>
            <select class="form-control" id="PhongBan_id" name="PhongBan.Ma_Phong">
                <option value="">-Chọn phòng ban-</option>
                <option th:each="phongBan : ${PhongBanList}" th:value="${phongBan.Ma_Phong}" th:text="${phongBan.Ten_Phong}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('phongBan')}" th:errors="*{phongBan}"></span>
        </div>
        <button type="submit" class="btn btn-primary" value="Save">Add</button>
    </form>
    <br>
    <a th:href="@{/Nhan_Vien}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<script>
    (function () {
      'use strict'
      const forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>
</body>
</html>
